<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby -KU

require ENV["TM_SUPPORT_PATH"] + "/lib/tm/executor"
require ENV['TM_SUPPORT_PATH'] + '/lib/ui.rb'

if File.exist?(ENV['TM_PROCESSING'] ? "#{ENV['TM_PROCESSING']}" : "/Applications/Processing.app")
  command = ["#{ENV['TM_BUNDLE_SUPPORT']}/bin/processing-java", "--sketch=#{ENV['TM_PROJECT_DIRECTORY']}", "--output=#{ENV['TMPDIR']}/processing_output", "--run", "--force"]
  TextMate::Executor.run(command)
else
  TextMate::UI.alert(:critical, "Processing Not Installed", "Please install Processing.app into Applications or set $TM_PROCESSING to it's path.", 'OK')
end
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run in Processing</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.processing</string>
	<key>semanticClass</key>
	<string>process.run.processing</string>
	<key>uuid</key>
	<string>740EC8D5-6590-4635-B76A-A032681898C8</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
